<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ติดต่อเรา</title>

    <link rel="icon" type="image/x-icon" href="../stylesheetsUsers/img/logotitle-removebg-preview.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">        

    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="stylesheetsUsers/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/elegant-icons.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/nice-select.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/slicknav.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/style.css">
</head>

<body>

    <div id="navbar-guest">
        <%- include('../Navbar/navbar') %>
    </div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" 
             data-setbg="../stylesheetsUsers/img/breadcrumb.jpg" 
             style="box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
                    margin-top: 89px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="breadcrumb__text">
                      <h2>ติดต่อเรา</h2>
                      <div class="breadcrumb__option">
                          <span>สะดวกจอง</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>เบอร์โทรศัพท์</h4>
                        <p>0982856455</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>ที่อยู่</h4>
                        <p>เชียงใหม่ ,ประเทศไทย</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>อีเมล์</h4>
                        <p>Convenientbook@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map" style="margin-bottom: 300px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.726909946544!2d98.95009227608534!3d18.810319882340426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a43cfcd65b5%3A0x1c0026152fc6a3df!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lij4Liy4LiK4Lih4LiH4LiE4Lil4Lil4LmJ4Liy4LiZ4LiZ4Liy!5e0!3m2!1sth!2sth!4v1705853722951!5m2!1sth!2sth" 
        width="600" height="450" style="border:0; box-shadow: 5px 5px 8px 6px rgba(0, 0, 0, 0.13);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->

    <!-- Footer Start -->
<%- include('../footer') %>
<!-- Footer End -->

<!-- Js Plugins -->
<script src="../stylesheetsUsers/js/jquery-3.3.1.min.js"></script>
<script src="../stylesheetsUsers/js/bootstrap.min.js"></script>
<script src="../stylesheetsUsers/js/jquery.nice-select.min.js"></script>
<script src="../stylesheetsUsers/js/jquery-ui.min.js"></script>
<script src="../stylesheetsUsers/js/jquery.slicknav.js"></script>
<script src="../stylesheetsUsers/js/mixitup.min.js"></script>
<script src="../stylesheetsUsers/js/main.js"></script>



</body>

</html>