<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link rel="icon" href="../images/icon.png">

</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    
    <div class="card">
        <div class="card-header">
            Form Profile
            <a href="../users/Profile" class="nav-link active">Back</a>
        </div>
        <div class="card-body">
            <form action="/users/changpsw" method="post" >
               
            <!--ส่วนร้านอาหาร-->
                <div class="container">
                  <% if (img === 'NULL') {%>
                  <center><img src="../images/profileNon.png" alt="img" style="height: 150px; width: 150px; border-radius: 50%;"></center>
                  <%}else{%>
                  <center><img src="/uploads/profile/<%= img %>" alt="img" style="height: 150px; width: 150px; border-radius: 50%;"> </center>
                  <% } %>
                  <br>

                  <input type="password" placeholder="Password" name="psw" required>
                  <input type="password" placeholder="ConfirmPassword" name="confpsw" required>
                  


                  <button type="submit" class="submitbtn" ><b>Chang</b></button>
                </div>

                
               
   
             
              
              </form>
        </div>
    </div>

</body>
</html>