<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>สะดวกจอง</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">        

    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/elegant-icons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/nice-select.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/slicknav.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheetsUsers/stylesheet/style.css">
</head>
<body>

    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="../uploads/logo/<%=logo%>" alt="Logo" style="width: 245px; height: 49px;"></a>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                <a href="Formlogin"><button class="btn btn-primary">เข้าสู่ระบบ</button></a>
                <br>
                <a href="FormRegister"><button class="btn btn-success">สมัครสมาชิก</button></a>
            </div>
        </div>
        <div class="mobilenavmenu" id="mobile-menu-wrap">
            <ul>
                <li style="list-style: none;"><a href="/" style="color: black;">หน้าแรก</a></li>
                <li style="list-style: none;"><a href="../coupon-list" style="color: black;">โปรโมชั่น</a></li>
                <li style="list-style: none;"><a href="../contact" style="color: black;">ติดต่อเรา</a></li>
            </ul>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li>ยินดีต้อนรับสู่เว็บจองคูปองส่วนลดสำหรับร้านอาหาร</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <nav class="header shadow-lg bg-body-tertiary" id="myNavbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="../uploads/logo/<%=logo%>" alt="Logo" style="width: 245px; height: 49px;"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu text-center">
                        <ul>
                            <li><a href="/">หน้าแรก</a></li>
                            <li><a href="../coupon-list">โปรโมชั่น</a></li>
                            <li><a href="../contact">ติดต่อเรา</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__menu">
                        <a href="FormRegister"><button class="btn" style="font-weight: 600;">สมัครสมาชิก</button></a>
                        <a href="Formlogin"><button class="btn btn-danger" style="font-weight: 600;">เข้าสู่ระบบ</button></a>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- Js Plugins -->
    <script src="/stylesheetsUsers/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheetsUsers/js/bootstrap.min.js"></script>
    <script src="/stylesheetsUsers/js/jquery.nice-select.min.js"></script>
    <script src="/stylesheetsUsers/js/jquery-ui.min.js"></script>
    <script src="/stylesheetsUsers/js/jquery.slicknav.js"></script>
    <script src="/stylesheetsUsers/js/mixitup.min.js"></script>
    <script src="/stylesheetsUsers/js/owl.carousel.min.js"></script>
    <script src="/stylesheetsUsers/js/main.js"></script>
    <script>
        // tabnavbar 
      function myFunction() {
        var x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
      </script>
</body>
</html>